<h2>Countries</h2>

<div class="col-lg-6">
  <form class="form-horizontal">
    <div class="form-group">
      <input type="text" class="form-control" #alpha3Code (focus)="term.value=''" (keyup)="getCountryByAlpha3Code(alpha3Code.value)"
        placeholder="Search by 3-letter country code" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" #term (focus)="alpha3Code.value=''" (keyup)="searchCountries(term.value)" placeholder="Search by any text"
      />
    </div>
  </form>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <!--<th>ID</th>-->
      <th>Name</th>
      <th>Alpha2 code</th>
      <th>Alpha3 code</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items; let i = index">
      <td>{{i+1}}</td>
      <!--<td>{{item.id}}</td>-->
      <td>{{item.name}}</td>
      <td>{{item.alpha2_code}}</td>
      <td>{{item.alpha3_code}}</td>
    </tr>
  </tbody>
</table>